.Input {
  text-align: center;
  width: 20vw;
  height: 30px;
  border-radius: 3px;
  &:focus {
    border: 2px solid #ffce71;
    outline: none;
  }
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

@media only screen and (max-width: 600px) {
  .Input {
    width: 40vw;
  }
}
